<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="/latest-properties" class="nav-link px-2 text-white">Latest properties</a></li>
        <li><a href="/featured-properties" class="nav-link px-2 text-white">Featured</a></li>
        <li><a href="/sale-properties" class="nav-link px-2 text-white">For sale</a></li>
        <li><a href="/properties" class="nav-link px-2 text-white">All</a></li>
        <li><a href="/blogs" class="nav-link px-2 text-white">Blogs</a></li>
        <li><a href="/contact" class="nav-link px-2 text-white">Contact</a></li>
      </ul>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>
      <div class="text-end">
        <% if agent_signed_in? %>
          <%= link_to "Edit account", edit_agent_registration_path, class: "btn btn-outline-light me-2" %>
          <%= button_to "Sign out", agent_registration_path, method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Login", new_agent_session_path, class: "btn btn-outline-light me-2" %>
          <%= link_to "Create account", new_agent_registration_path, class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
  </div>
</header>
