<div id="main" class="container">
  <!-- Main hero jumbotron -->
  <div class="container">
    <div class="px-4 py-5 my-5 text-start" style="width: 70%; margin: auto;">
      <h1 class="display-5 fw-bold">Search for your new home</h1>
      <div class="col-lg-6">
        <p class="lead mb-4">Choose from hundres of properties</p>
        <div class="d-grid gap-2 d-sm-flex">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">View properties for sale</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Featured products section -->
  <div class="container">
    <h3>Featured Properties</h3>
  </div>
</div>
